<nav class="navbar navbar-light bg-light">
  <div class="w-100 flex-column">
    <a class="navbar-brand mb-2 text-center" style="display: block;" href="#">
      <img src="https://fileserver.eps.com.bd/uploads/45cea8c3-d084-4ffe-9a17-bddadb024d3d.png" style="height: 40px;"
        alt="BDP Logo" />
    </a>

    <!-- Sidebar Navigation -->
    <ul class="navbar-nav flex-column">

      <!-- Dashboard -->

      <li class="nav-item">
        <a class="nav-link px-2" routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page">
          <i class="bi bi-speedometer"></i> Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2" routerLink="/news" routerLinkActive="active" ariaCurrentWhenActive="page">
          <i class="bi bi-newspaper"></i> News & Alert
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2" routerLink="/tourist-broadcasts" routerLinkActive="active"
          ariaCurrentWhenActive="page">
          <i class="bi bi-newspaper"></i> Tourist Broadcasts
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2" routerLink="/police-broadcasts" routerLinkActive="active" ariaCurrentWhenActive="page">
          <i class="bi bi-newspaper"></i> Police Broadcasts
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link px-2 collapsed" href="#storeMenu" data-bs-toggle="collapse" aria-expanded="false">
          <i class="bi bi-gear-fill"></i> Setting
        </a>
        <ul class="collapse" id="storeMenu">



          <li class="nav-item">
            <a class="nav-link px-2 collapsed" routerLink="/services" routerLinkActive="active"
              data-bs-toggle="collapse" aria-expanded="false">
              <i class="bi bi-browser-edge"></i> Services
            </a>
          </li>
          <!-- 
          <li class="nav-item">
            <a class="nav-link px-2 collapsed" routerLink="/complain" routerLinkActive="active"
              data-bs-toggle="collapse" aria-expanded="false">
              <i class="bi bi-buildings"></i> Complains
            </a>
          </li> -->

          <li class="nav-item">
            <a class="nav-link px-2 collapsed" routerLink="/upload" routerLinkActive="active" data-bs-toggle="collapse"
              aria-expanded="false">
              <i class="bi bi-cloud-upload-fill"></i> upload
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link px-2 collapsed" routerLink="/accessuser" routerLinkActive="active" data-bs-toggle="collapse"
              aria-expanded="false">
              <i class="bi bi-people"></i> User Access Level
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2 collapsed" routerLink="/users" routerLinkActive="active" data-bs-toggle="collapse"
              aria-expanded="false">
              <i class="bi bi-people"></i> User List
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2 collapsed" routerLink="/menu" routerLinkActive="active" data-bs-toggle="collapse"
              aria-expanded="false">
              <i class="bi bi-menu-up"></i> Menu List
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2 collapsed" routerLink="/menuPermission" routerLinkActive="active"
              data-bs-toggle="collapse" aria-expanded="false">
              <i class="bi bi-arrow-left-right"></i> Menu Permissions
            </a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link px-2 collapsed" routerLink="/touristspot" routerLinkActive="active"
              data-bs-toggle="collapse" aria-expanded="false">
              <i class="bi bi-buildings"></i> Toursit Spot
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link px-2 collapsed" routerLink="/touristtrip" routerLinkActive="active"
              data-bs-toggle="collapse" aria-expanded="false">
              <i class="bi bi-buildings"></i> Toursit Trip
            </a>
          </li> -->

        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link px-2" routerLink="/lost" routerLinkActive="active" ariaCurrentWhenActive="page">
          <i class="bi bi-search"></i> Lost List
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2 collapsed" routerLink="/complain" routerLinkActive="active" data-bs-toggle="collapse"
          aria-expanded="false">
          <i class="bi bi-cookie"></i> Complains
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link px-2 collapsed" routerLink="/founds" routerLinkActive="active" data-bs-toggle="collapse"
          aria-expanded="false">
          <i class="bi bi-bag-check-fill"></i> Founds
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link px-2 collapsed" routerLink="/touristzone" routerLinkActive="active" data-bs-toggle="collapse"
          aria-expanded="false">
          <i class="bi bi-buildings"></i> Toursit Zone
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2 collapsed" routerLink="/touristspot" routerLinkActive="active" data-bs-toggle="collapse"
          aria-expanded="false">
          <i class="bi bi-buildings"></i> Toursit Spot
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2 collapsed" routerLink="/guide" routerLinkActive="active" data-bs-toggle="collapse"
          aria-expanded="false">
          <i class="bi bi-person-raised-hand"></i> Guide List
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2 collapsed" routerLink="/policestation" routerLinkActive="active"
          data-bs-toggle="collapse" aria-expanded="false">
          <i class="bi bi-house-lock-fill"></i> Police Station
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link px-2 collapsed" routerLink="/touristtrip" routerLinkActive="active" data-bs-toggle="collapse"
          aria-expanded="false">
          <i class="bi bi-car-front-fill"></i> Toursit Trip
        </a>
      </li>



      <li class="nav-item">
        <a class="nav-link px-2 collapsed" routerLink="/red-marked-spots/10" routerLinkActive="active"
          data-bs-toggle="collapse" aria-expanded="false">
          <i class="bi bi-sign-do-not-enter-fill"></i> Red Marked Spots
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2 collapsed" routerLink="/find-transport/11" routerLinkActive="active"
          data-bs-toggle="collapse" aria-expanded="false">
          <i class="bi bi-train-freight-front"></i> Find Transport
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2 collapsed" routerLink="/transport/11" routerLinkActive="active"
          data-bs-toggle="collapse" aria-expanded="false">
          <i class="bi bi-train-freight-front"></i> Transport Details
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link px-2 collapsed" routerLink="/religious-community/12" routerLinkActive="active"
          data-bs-toggle="collapse" aria-expanded="false">
          <i class="bi bi-ethernet"></i> Religious Community
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link px-2 collapsed" routerLink="/transport/12" routerLinkActive="active"
          data-bs-toggle="collapse" aria-expanded="false">
          <i class="bi bi-train-freight-front"></i> Religious Community Details
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link px-2 collapsed" routerLink="/healthcare-services/13" routerLinkActive="active"
          data-bs-toggle="collapse" aria-expanded="false">
          <i class="bi bi-heart-pulse"></i> Healthcare Services
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2 collapsed" routerLink="/hotels/14" routerLinkActive="active" data-bs-toggle="collapse"
          aria-expanded="false">
          <i class="bbi bi-hospital"></i> Hotels
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2 collapsed" routerLink="/refueling-stations/15" routerLinkActive="active"
          data-bs-toggle="collapse" aria-expanded="false">
          <i class="bi bi-fuel-pump-fill"></i> Refueling Stations
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2 collapsed" routerLink="/mobile-internet/16" routerLinkActive="active"
          data-bs-toggle="collapse" aria-expanded="false">
          <i class="bi bi-router-fill"></i> Mobile Internet
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2 collapsed" routerLink="/atm-locations/17" routerLinkActive="active"
          data-bs-toggle="collapse" aria-expanded="false">
          <i class="bi bi-cash-coin"></i> ATM Locations
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2 collapsed" routerLink="/food-dine/18" routerLinkActive="active"
          data-bs-toggle="collapse" aria-expanded="false">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-fork-knife"
            viewBox="0 0 16 16">
            <path
              d="M13 .5c0-.276-.226-.506-.498-.465-1.703.257-2.94 2.012-3 8.462a.5.5 0 0 0 .498.5c.56.01 1 .13 1 1.003v5.5a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5zM4.25 0a.25.25 0 0 1 .25.25v5.122a.128.128 0 0 0 .256.006l.233-5.14A.25.25 0 0 1 5.24 0h.522a.25.25 0 0 1 .25.238l.233 5.14a.128.128 0 0 0 .256-.006V.25A.25.25 0 0 1 6.75 0h.29a.5.5 0 0 1 .498.458l.423 5.07a1.69 1.69 0 0 1-1.059 1.711l-.053.022a.92.92 0 0 0-.58.884L6.47 15a.971.971 0 1 1-1.942 0l.202-6.855a.92.92 0 0 0-.58-.884l-.053-.022a1.69 1.69 0 0 1-1.059-1.712L3.462.458A.5.5 0 0 1 3.96 0z" />
          </svg> Food Dine
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link px-2 collapsed" routerLink="/nearby-rides/19" routerLinkActive="active"
          data-bs-toggle="collapse" aria-expanded="false">
          <i class="bi bi-bicycle"></i> Nearby Rides
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link px-2 collapsed" routerLink="/transport/19" routerLinkActive="active"
          data-bs-toggle="collapse" aria-expanded="false">
          <i class="bi bi-train-freight-front"></i> Nearby Rides Details
        </a>
      </li>

    </ul>
  </div>
</nav>