<nav class="navbar navbar-light bg-light">
  <div class="w-100 flex-column">
    <a class="navbar-brand mb-2 text-center" style="display: block;" href="#">
      <img src="https://fileserver.eps.com.bd/uploads/45cea8c3-d084-4ffe-9a17-bddadb024d3d.png" style="height: 40px;" alt="BDP Logo" />
    </a>

    <!-- Sidebar Navigation -->
    <ul class="navbar-nav flex-column">

      <!-- Dashboard -->

      <li class="nav-item">
        <a class="nav-link px-2" routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page">
          <i class="bi bi-speedometer"></i> Dashboard
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link px-2 collapsed" href="#storeMenu" data-bs-toggle="collapse" aria-expanded="false">
          <i class="bi bi-gear-fill"></i> Setting
        </a>
        <ul class="collapse" id="storeMenu">



          <li class="nav-item">
            <a class="nav-link px-2 collapsed" routerLink="/services" routerLinkActive="active"
              data-bs-toggle="collapse" aria-expanded="false">
              <i class="bi bi-browser-edge"></i> Services
            </a>
          </li>
<!-- 
          <li class="nav-item">
            <a class="nav-link px-2 collapsed" routerLink="/complain" routerLinkActive="active"
              data-bs-toggle="collapse" aria-expanded="false">
              <i class="bi bi-buildings"></i> Complains
            </a>
          </li> -->

          <li class="nav-item">
            <a class="nav-link px-2 collapsed" routerLink="/upload" routerLinkActive="active" data-bs-toggle="collapse"
              aria-expanded="false">
              <i class="bi bi-cloud-upload-fill"></i> upload
            </a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link px-2 collapsed" routerLink="/touristspot" routerLinkActive="active"
              data-bs-toggle="collapse" aria-expanded="false">
              <i class="bi bi-buildings"></i> Toursit Spot
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link px-2 collapsed" routerLink="/touristtrip" routerLinkActive="active"
              data-bs-toggle="collapse" aria-expanded="false">
              <i class="bi bi-buildings"></i> Toursit Trip
            </a>
          </li> -->
          
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link px-2" routerLink="/lost" routerLinkActive="active" ariaCurrentWhenActive="page">
          <i class="bi bi-search"></i> Lost List
        </a>
      </li>
       <li class="nav-item">
            <a class="nav-link px-2 collapsed" routerLink="/complain" routerLinkActive="active"
              data-bs-toggle="collapse" aria-expanded="false">
              <i class="bi bi-cookie"></i> Complains
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link px-2 collapsed" routerLink="/founds" routerLinkActive="active"
              data-bs-toggle="collapse" aria-expanded="false">
              <i class="bi bi-bag-check-fill"></i> Founds
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link px-2 collapsed" routerLink="/touristspot" routerLinkActive="active"
              data-bs-toggle="collapse" aria-expanded="false">
              <i class="bi bi-buildings"></i> Toursit Spot
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link px-2 collapsed" routerLink="/touristtrip" routerLinkActive="active"
              data-bs-toggle="collapse" aria-expanded="false">
              <i class="bi bi-car-front-fill"></i> Toursit Trip
            </a>
          </li>





    </ul>
  </div>
</nav>